/***********
Search Bar
***********/

.searchbar {
  text-align: center;
  margin-top: 30px;
}



input[type="text"] {
  border-style: solid;
  border-color: lightgrey;
  border-radius: 5px;
  width: 500px;
  height: 40px;
}

/***********
Images
***********/
span {
  display: none;
}

ul {
  list-style: none;
  padding-left: 0;
  display: block;
}

ul li {
  display: inline-block;
  
}

ul li img {
  display: block;
  width: 195px;
  height: 200px;
  padding: 30px 30px;
}

/****************
Overlay
****************/

#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  display:none;
  text-align:center; 
}

#overlay img {
 margin-top: 100px; 
 width: 60%;
 
}

#overlay p {
  color: white;
  width: 50%;
  margin: auto;
  padding-top: 4em;
}

/************
buttons
************/


#leftArrow, #rightArrow {
  display: inline-block;
	vertical-align: 80px;
  padding: 0 20px;
}

#rightArrow a, #leftArrow a {
  text-decoration: none;
  color: white;
  width: 20px;
	height: 40px;
  font-size: 30px;
}

#closeLightbox{
	background: url('../img/lightbox-close.png') no-repeat;
	background-size: cover;
	width: 25px;
	height: 25px;
	margin: 20px;
	float: right;
}

@media (min-width:600px) {
  
  #leftArrow, #rightArrow {
    vertical-align: 100px;
  }
}

@media (min-width:750px) {
  
  #leftArrow, #rightArrow {
    vertical-align: 105px;
  }
  
  #rightArrow a, #leftArrow a {
  font-size: 60px;
  }
  
}

@media (min-width:1000px) {
  
  #leftArrow, #rightArrow {
    vertical-align: 150px;
  }
  
}
